// Find the full list of options on the wiki:
// https://yalter.github.io/niri/Configuration:-Input
input {
    keyboard {
        xkb {
            // You can set rules, model, layout, variant and options.
            // For more information, see xkeyboard-config(7).

            layout "us"
            // options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"

            // If this section is empty, niri will fetch xkb settings
            // from org.freedesktop.locale1. You can control these using
            // localectl set-x11-keymap.
        }
        numlock
    }

    // see `libinput` for settings
    // https://wiki.archlinux.org/title/Libinput
    touchpad {
        tap
        dwt
        natural-scroll
        click-method "clickfinger"
        scroll-method "two-finger"
    }

    disable-power-key-handling
}

cursor {
    hide-after-inactive-ms 200
}

// run `niri msg outputs` in a niri instance to find monitors
output "eDP-1" {
    mode "2880x1920@120.030"
    // scale down to a logical 1440x960 
    scale 2
    transform "normal"
    focus-at-startup

    // x was set to 1280 by default and i don't know why so I'm leaving the 
    // original comment
    //
    // Position of the output in the global coordinate space.
    // This affects directional monitor actions like "focus-monitor-left", and cursor movement.
    // The cursor can only move between directly adjacent outputs.
    // Output scale and rotation has to be taken into account for positioning:
    // outputs are sized in logical, or scaled, pixels.
    // For example, a 3840×2160 output with scale 2.0 will have a logical size of 1920×1080,
    // so to put another output directly adjacent to it on the right, set its x to 1920.
    // If the position is unset or results in an overlap, the output is instead placed
    // automatically.
    position x=0 y=0
}

layout {
    gaps 16
    center-focused-column "never"

    preset-window-heights { 
        proportion 1.0;
        proportion 0.5;
    }
    default-column-width { 
        proportion 0.5; 
    }

    // By default focus ring and border are rendered as a solid background rectangle
    // behind windows. That is, they will show up through semitransparent windows.
    // This is because windows using client-side decorations can have an arbitrary shape.
    //
    // If you don't like that, you should uncomment `prefer-no-csd` below.
    // Niri will draw focus ring and border *around* windows that agree to omit their
    // client-side decorations.
    //
    // Alternatively, you can override it with a window rule called
    // `draw-border-with-background`.

    // You can change how the focus ring looks.
    focus-ring {
        width 4

        // Colors can be set in a variety of ways:
        // - CSS named colors: "red"
        // - RGB hex: "#rgb", "#rgba", "#rrggbb", "#rrggbbaa"
        // - CSS-like notation: "rgb(255, 127, 0)", rgba(), hsl() and a few others.

        active-color "#7fc8ff"
        inactive-color "#505050"

        // You can also use gradients. They take precedence over solid colors.
        // Gradients are rendered the same as CSS linear-gradient(angle, from, to).
        // The angle is the same as in linear-gradient, and is optional,
        // defaulting to 180 (top-to-bottom gradient).
        // You can use any CSS linear-gradient tool on the web to set these up.
        // Changing the color space is also supported, check the wiki for more info.
        //
        // active-gradient from="#80c8ff" to="#c7ff7f" angle=45

        // You can also color the gradient relative to the entire view
        // of the workspace, rather than relative to just the window itself.
        // To do that, set relative-to="workspace-view".
        //
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    // You can also add a border. It's similar to the focus ring, but always visible.
    border {
        off

        width 4
        active-color "#ffc87f"
        inactive-color "#505050"

        urgent-color "#9b0000"
    }
}


hotkey-overlay {
    skip-at-startup
}

// Uncomment this line to ask the clients to omit their client-side decorations if possible.
// If the client will specifically ask for CSD, the request will be honored.
// Additionally, clients will be informed that they are tiled, removing some client-side rounded corners.
// This option will also fix border/focus ring drawing behind some semitransparent windows.
// After enabling or disabling this, you need to restart the apps for this to take effect.
// prefer-no-csd

// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null

// Animation settings.
// The wiki explains how to configure individual animations:
// https://yalter.github.io/niri/Configuration:-Animations
animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0
}

// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Window-Rules

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

recent-windows {
    off
}

binds {
    Mod+Q { spawn "foot"; }
    // oh babey one liners
    // there's some ambiguity with what shell type `spawn` runs under, so i'm
    // locking it under zsh
    Mod+Shift+Q { spawn "zsh" "-c" "foot -D $(CHILDREN=(${(f)\"$(pgrep -P $(niri msg --json focused-window | jq .pid))\"}); if [ ${#CHILDREN} -eq 1 ]; then echo $(pwdx $CHILDREN[1] | cut -d \" \" -f 2); else echo \"~\"; fi)";}
    Mod+A repeat=false { close-window; }

    Mod+Escape  { spawn "swaylock"; }
    
    // extra don't wanna do this by accident
    Mod+Shift+Ctrl+Escape { quit; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "zsh" "-c" "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "zsh" "-c" "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    // fine adjustment
    Shift+XF86AudioRaiseVolume allow-when-locked=true { spawn "zsh" "-c" "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.01+ -l 1.0"; }
    Shift+XF86AudioLowerVolume allow-when-locked=true { spawn "zsh" "-c" "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.01-"; }
    // mutes
    XF86AudioMute allow-when-locked=true { spawn "zsh" "-c" "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute allow-when-locked=true { spawn "zsh" "-c" "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "zsh" "-c" "brightnessctl --class=backlight set +5%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "zsh" "-c" "brightnessctl --class=backlight set 5%-"; }
    // fine adjustment
    Shift+XF86MonBrightnessUp allow-when-locked=true { spawn "zsh" "-c" "brightnessctl --class=backlight set +1%"; }
    Shift+XF86MonBrightnessDown allow-when-locked=true { spawn "zsh" "-c" "brightnessctl --class=backlight set 1%-"; }

    Mod+Tab { toggle-overview; }


    Mod+H { focus-column-left; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }
    Mod+L { focus-column-right; }

    Mod+Shift+H { move-column-left; }
    Mod+Shift+J { move-window-down; }
    Mod+Shift+K { move-window-up; }
    Mod+Shift+L { move-column-right; }

    Mod+Comma  { consume-or-expel-window-left; }
    Mod+Period { consume-or-expel-window-right; }

    Mod+C { maximize-window-to-edges; }
    Mod+Ctrl+C { fullscreen-window; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Equal { set-column-width "50%"; }

    Mod+BracketLeft { set-window-height "-10%"; }
    Mod+BracketRight { set-window-height "+10%"; }
    Mod+Shift+BracketRight { set-window-height "100%"; }

    Mod+W { focus-workspace-down; }
    Mod+S { focus-workspace-up; }
    Mod+Shift+W { move-window-to-workspace-down; }
    Mod+Shift+S { move-window-to-workspace-up; }

    Mod+Ctrl+W { move-workspace-down; }
    Mod+Ctrl+S { move-workspace-up; }
}
